<div class="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">

        <h1> 👋 Sobre Mim </h1>
        <p> Olá! Meu nome é <span class="highlight">Ricardo B. Santos.</span>

        Sou graduado em Análise e Desenvolvimento de Sistemas e atualmente curso Sistemas para Internet, com foco em
        desenvolvimento web e mobile.

        Atuo no desenvolvimento de interfaces utilizando HTML, CSS e JavaScript, com experiência em Angular e Ionic,
        sempre
        buscando criar aplicações organizadas, responsivas e com boa experiência para o usuário.

        Tenho seis anos de experiência na área de Suporte, o que contribuiu para o desenvolvimento de habilidades como
        análise de problemas, comunicação clara e trabalho em equipe — competências que aplico diretamente no
        desenvolvimento de soluções digitais.

        Sou movido por aprendizado contínuo, estou sempre explorando novas tecnologias, aprimorando meu inglês técnico
        e
        buscando evoluir como desenvolvedor Front-End, contribuindo com projetos que gerem impacto real.</p>

      </ion-col>
      <ion-col size="12" size-md="6"></ion-col>
    </ion-row>
  </ion-grid>

</div>