<section class="contact-section">

  <div class="container">

    <ion-grid>
      <h2 class="section-label highlight">Contato</h2>

      <ion-row class="contact-wrapper">
         
        <ion-col size="12" size-md="6" class="contact-info">

         

          <h3 class="main-title">
            Vamos construir algo incrível juntos 🚀
          </h3>

          <p class="contact-description">
            Estou aberto a novas oportunidades, colaborações e discussões
            sobre tecnologia. Sinta-se à vontade para entrar em contato.
          </p>

          <div class="contact-links">
            <a href="mailto:dev.ricardosantos@gmail.com" class="contact-item">
              <img src="assets/icon/gmail.png" alt="Gmail" class="contact-img-icon">
              <span class="highlight">dev.ricardosantos@gmail.com</span>
            </a>

            <a href="https://www.linkedin.com/in/ricardo-batista-dos-santos/" target="_blank" class="contact-item">
              
              <img src="assets/icon/linkedin.png" alt="LinkedIn" class="contact-img-icon">
              <span class="highlight">LinkedIn</span> 
            </a>

            <a href="https://github.com/ricardobsan" target="_blank" class="contact-item ">
              <img src="assets/icon/github.png" alt="GitHub" class="contact-img-icon ">
              <span class="highlight">GitHub</span> 
            </a>
          </div>

        </ion-col>

        <ion-col size="12" size-md="6" class="contact-cta">

          <div class="cta-card">
            <h4>Pronto para começar um projeto?</h4>

            <a href="mailto:dev.ricardosantos@gmail.com">
              <ion-button  class="glow-btn">
                <ion-icon slot="start" name="mail-outline"></ion-icon>
                E-MAIL
              </ion-button>
            </a>
          </div>

        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

</section>
