<div class="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <div class="about-wrapper">
          <h1 class="tech-title highlight">Sobre Mim</h1>

          <p class="about-text" [class.expanded]="aboutExpanded">
            Sou <span class="highlight">Ricardo Santos</span>,
            graduado em Análise e Desenvolvimento de Sistemas e atualmente curso pós-graduação
            em Arquitetura de Software.<br><br>

            Atuo no desenvolvimento de interfaces com HTML, CSS e JavaScript, possuindo experiência em Angular e Ionic,
            sempre priorizando aplicações organizadas, responsivas e com excelente experiência para o usuário.<br><br>

            Tenho vivência prática em projetos reais, colaborando com equipes no desenvolvimento e na evolução de
            aplicações, aplicando boas práticas de código.
            Sou movido por aprendizado contínuo e busco evoluir constantemente como desenvolvedor Front-End,
            contribuindo em projetos que gerem impacto real.

          </p>

          <!-- BOTÃO SÓ NO MOBILE -->
          <button class="read-more " (click)="aboutExpanded = !aboutExpanded">
            {{ aboutExpanded ? 'Mostrar menos ↑' : 'Continuar lendo ↓' }}
          </button>
        </div>

      </ion-col>
      <ion-col size="12" size-md="6" class="col-2">

        <div class="tech-wrapper">

          <h2 class="tech-title highlight">Tecnologias</h2>

          <div class="tech-list">
            <div class="tech-card">
              <img src="../../../assets/icon/angular.svg" alt="Angular" />
              <span>Angular</span>
            </div>

            <div class="tech-card">
              <img src="../../../assets/icon/ionic.svg" alt="Ionic" />
              <span>Ionic</span>
            </div>

            <div class="tech-card">
              <img src="../../../assets/icon/javascript.svg" alt="JavaScript" />
              <span>JavaScript</span>
            </div>


            <div class="tech-card">
              <img src="../../../assets/icon/html.svg" alt="HTML5" />
              <span>HTML5</span>
            </div>

            <div class="tech-card">
              <img src="../../../assets/icon/css.svg" alt="CSS3" />
              <span>CSS3</span>
            </div>

            <div class="tech-card">
              <img src="../../../assets/icon/firebase.svg" alt="Firebase" />
              <span>Firebase</span>
            </div>
          </div>

        </div>

        <div class="cv-wrapper">

          <h2 class="tech-title highlight">Currículo</h2>

          <div class="cv-buttons">
            <ion-button fill="solid" href="assets/cv/Ricardo Batista dos Santos.pdf" target="_blank" class="btn-1">
              <ion-icon slot="start" name="eye-outline"></ion-icon>
              Visualizar
            </ion-button>

            <ion-button fill="solid" href="assets/cv/Ricardo Batista dos Santos.pdf" download class="btn-2">
              <ion-icon slot="start" name="download-outline"></ion-icon>
              Download
            </ion-button>
          </div>

        </div>







      </ion-col>
    </ion-row>
  </ion-grid>

</div>