
ion-footer{
    margin-top: 50px;
}

.container {
    text-align: center;
    min-height: 100px;
}


@media (max-width: 768px) {
    p {
        min-height: 20px;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}