@media (max-width: 768px) {
    p {
        min-height: 20px;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
.container{
    display: flex;
    flex-direction: column;

    height: 150px;
}


.social-links img{
    width: 32px;
}