.img-header {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 8px solid var(--highlight-color);
  overflow: hidden;
  margin: 0 auto;
}

.img-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.row {
  margin-top: 15px;
}

.col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  max-width: 100%;
  word-wrap: break-word;
}

.text-col {
  max-width: 600px;
  width: 100%;
  padding: 0 24px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;

}

.text-col p {
  font-size: 1.6rem;
  line-height: 1.4;
}

/* Nome em destaque */
.text-col ion-text {
  display: block;
  font-size: 1.6rem;
  --color: inherit;
}


.text-col p:last-child {
  font-size: 1.1rem;

}



@media (max-width: 768px) {
  .col-2 {
    align-items: start;
  }

  .text-col p:last-child {
    font-size: 1rem;

  }

  .text-col p {
    font-size: 1.3rem;
    line-height: 1.3;
  }

  .text-col ion-text {
    font-size: 1.2rem;
  }

  .text-col {
    padding: 5px;
  }

  .row{
    margin-top: 0;
  }



}