<div class="container">
  <ion-grid id="top">
    <ion-row class="row" >
      <ion-col size="12" size-md="5" class="col-1">
        <div class="img-header">
          <img src="assets/images/profile.png" alt="Ricardo Santos">
        </div>
      </ion-col>
      <ion-col size="12" size-md="7" class="col-2">
        <div class="text-col">
          <h1 class="hero-title">
            Olá,<br>
            sou <span class="highlight">Ricardo Santos</span>,
          </h1>
          <p>
            Desenvolvimento Front-End em formação, focado em criar interfaces modernas e
            responsivas com Angular e Ionic.</p>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>