<div class="container">
  <ion-grid>
    <ion-row class="row">
      <ion-col size="12" size-md="5" class="col-1">
        <div class="img-header">
          <img src="assets/images/profile.png" alt="Ricardo Santos">
        </div>
      </ion-col>
      <ion-col size="12" size-md="7" class="col-2">
        <div class="text-col">
          <p>
            Olá,
            <ion-text>sou <span class="highlight">Ricardo Santos</span>,</ion-text>
          </p>
          <h1>
                Desenvolvimento Front-End em formação, focado em criar interfaces modernas e 
            responsivas com Angular e Ionic.</h1>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>