<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content fullscreen>
  <section id="inicio" class="section hero">
    <app-header></app-header>
  </section>

  <section id="sobre" class="section sobre">
    <app-about></app-about>
  </section>

  <!-- depois -->
  <!--
  <section id="projetos" class="section projetos">
    <app-projects></app-projects>
  </section>

  <section id="contato" class="section contato">
    <app-contact></app-contact>
  </section>
  -->


<app-footer></app-footer>
</ion-content>