<ion-header>
  <app-toolbar (navigate)="scrollTo($event)"></app-toolbar>
</ion-header>

<ion-content fullscreen>
  <section id="top" class="section hero">
    <app-header></app-header>
  </section>

  <section id="about" class="section sobre">
    <app-about></app-about>
  </section>

  
 
  <section id="project" class="section projetos">
    <app-projects></app-projects>
  </section>

  <!-- <section id="contato" class="section contato">
    <app-contact></app-contact>
  </section>
 -->


<app-footer></app-footer>
</ion-content>