<ion-toolbar class="container">

  <!-- HAMBURGUER (SÓ MOBILE) -->
  <ion-buttons slot="start" class="mobile-only">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <!-- LOGO -->
  <div class="logo">
    Ricardo<span class="highlight">.</span>
  </div>

  <!-- MENU DESKTOP -->
  <ion-buttons slot="end" class="desktop-only">
    <ion-button routerLink="/home">Início</ion-button>
    <ion-button routerLink="/sobre">Sobre mim</ion-button>
    <ion-button routerLink="/projetos">Projetos</ion-button>
    <ion-button routerLink="/contato">Contatos</ion-button>
  </ion-buttons>

  <!-- DARK MODE (SEMPRE VISÍVEL) -->
  <ion-buttons slot="end">
    <ion-button fill="clear" (click)="toggleTheme()">
  <ion-icon [name]="isDark ? 'sunny-outline' : 'moon'"></ion-icon>
</ion-button>

  </ion-buttons>

</ion-toolbar>