<ion-footer >
  <div class="container">
  <div class="social-links">
      <a href="https://github.com/ricardobsan" target="_blank">
        <img [src]="!isDark 
        ? '../../../assets/icon/github.png' 
        : '../../../assets/icon/social.png'" alt="GitHub" class="footer-img">
      </a>
      <a href="https://www.linkedin.com/in/ricardo-batista-dos-santos/" target="_blank">
        <img src="../../../assets/icon/linkedin.png"
        
        alt="LinkedIn" class="footer-img">
      </a>
    </div>

  <div>
    <span class="highlight">©</span>  {{ currentYear }} Ricardo Santos. Todos os direitos reservados.
  </div>
</div>
</ion-footer>